<div class="photo-wrapper" *ngIf="photo">
  <img [src]="photo.url" [alt]="photo.id" class="photo-preview" />

  <div class="info">
    <h2>{{ "favorites.photo" | translate }} #{{ photo.id }}</h2>
    <p>
      <strong>{{ "favorites.photographer" | translate }}:</strong> {{ this.author$ | async  }}
    </p>
    <p>
      <strong>{{ "favorites.addedOn" | translate }}:</strong>
      {{ photo.dateFavorited | date : "medium" }}
    </p>

    <button
      mat-raised-button
      color="warn"
      (click)="removeFromFavorites(photo.id)"
    >
      {{ "favorites.remove" | translate }}
    </button>
  </div>
</div>


