/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


$simply-red: #dd1010; // 🔴 Red for errors or alerts
$highlight-red: #ff4c4c; // 🔥 Intense red for alerts or important highlights
$warning-yellow: #ffd700; // ⚠️ Bright yellow for warnings or cautions
$perfect-green: #4caf50; // ✅ Smooth green for success or confirmations
$platinum-gray: 	#E5E4E2 ; // 🌫️ Light gray for backgrounds or borders
